<h1>Users</h1>
<% @users.each do |user| %>
<p>
  <%= link_to user.username, edit_user_path(user) %>
  <%= link_to "X", user, method: :delete %><br/>
  <%= user.phone %>
  <%= user.category&.name %>
</p>
<% end %>
