<%= form_for [doctor, appointment] do |f| %>
  <div class="mb-3">
    <%= f.label :recommendation, class: 'form-label' %>
    <%= f.text_area :recommendation, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.button type: 'submit', class: "btn btn-primary" %>
  </div>
<% end %>
