<%= form_for category, html: {class: "row"} do |f| %>
  <div class='col-auto mb-2'>
    <%= f.label :name , class: "col-form-label" %>
  </div>
  <div class='col-auto mb-2'>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class='col-auto mb-2'>
    <%= f.button type: 'submit', class: "btn btn-primary" %>
  </div>
<% end %>