<h1>Сategories of doctors</h1>
<%= render 'form', category: @category %>
<% @categories.each do |cat| %>
	<p><%= cat.name %> <%= link_to "X", cat, method: :delete %></p>
	<% cat.doctors.order(:username).each do |user| %>
		<%= "---> #{user.username}" %><br/>
	<% end %>
<% end %>